<div class="container">
  <h1> <%= @restaurant.category %> </h1>

  <h2> <%= @restaurant.name %> </h2>
  <p> <%= @restaurant.address %> </p>
  <%= link_to "New review", @review. %>

<%# mettre un display des avis %>
</div>
